.search-input{
  width: 1003px;
height: 68px;
top: 123px;
left: 223px;
border-radius: 20px;
border: 1px;
background-color: #CED9E3;
  position: absolute;
  padding-left: 60px;
  
 

  
}


.btn-search {
  font-size: 28px;
  /* border: none; */
  background-color: #CED9E3;
  

top: 60px;
left: 240px;

  position: relative;
  } 
  .showResults{
    width: 480px;
    height: 626px;
    margin-top: 100px;
    margin-left: 250px;
    
    
    

  }